version: '3.8'

services:
  neo4j:
    image: neo4j:5
    ports:
      - "7475:7474"
      - "7689:7687"
    environment:
      - NEO4J_AUTH=neo4j/denis-ide-graph
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs

volumes:
  neo4j_data:
  neo4j_logs:
